<!DOCTYPE html >
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet" href="node_ modules/bootstrap/dist/css/bootstrap.css">
</head>
<!---
浏览器收到HTML响应内容之后，就要开始从上到下依次解析，
当在解析的过程中，如果发现:
link
script
img
iframe
video
audio
等带有src或者href (1ink)
属性标签的时候，浏览器会自动对这些资源发起新的请求。
--> 
<body>
<div class="header container">
<div class="page-header">
<h1>Example page header <small>Subtext for header</small></h1>
<a class="btn btn-success" href="post.html">发表留言</a>
</div>
</div> 
<div class="comments container">
<ul class="list-group">
<li class="list-group-item">Cras justo odio</li>
<1i class="list-group-item">Dapibus ac facilisis in</li>
<li class="list-group-item">Morbi leo risus</li>
<li class="list- group-item">Porta ac consectetur ac</li>
